// @import "src/@fuse/scss/fuse";

.profilForm-dialog {

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    // Profile boxes
    .import-box {
        max-width: 70%;
        min-width: 670px !important;
        width: 0% !important;
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 16px;
        // @include mat-elevation(2);

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
        }

        footer {
            padding: 8px;
            border-top: 1px solid;
        }

        &.info-box {

            .info-line {
                margin-bottom: 10px;

                .title {
                    font-size: 15px;
                    font-weight: 600;
                    padding-bottom: 4px;
                }

                .info {

                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
