<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    
    <!-- Header -->
    <div class="relative flex flex-col lg:flex-row flex-0 items-start justify-between py-6 px-6 lg:items-center md:px-8 border-b">
        <div class="text-4xl font-extrabold tracking-tight">Definir Coordonnées GPS</div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden mt-5">
        <div class="flex flex-col flex-auto sm:mb-0 overflow-hidden sm:overflow-y-auto px-5 rounded-lg">
            <!-- <agm-map [latitude]='lat' [longitude]='long'>
                <agm-marker [latitude]="lat" [longitude]="long"> </agm-marker>
            </agm-map> -->
        </div>
    </div>
</div>

